/* Variables */
:root {
  --primary: #3d37f1;
}

/* Mobile First */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  font-size: 16px;
  width: 90%;
  margin: auto;
  overflow-x: hidden;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

header a {
  color: var(--primary);
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  color: #707070;
}

p {
  color: #747474;
}

.web {
  color: var(--primary);
}

.ui {
  font-weight: 100;
  color: #4b647e;
}
.nav-bar {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.btn {
  background: none;
  border-radius: 20px;
  padding: 10px 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.btn:active {
  transform: scale(0.95);
}

.btn-waveme {
  background-color: var(--primary);
  color: white;
  box-shadow: 0 3px 15px var(--primary);
  border-color: var(--primary);
}

.btn-waveme:hover,
.btn-waveme:active {
  box-shadow: 0 6px 15px var(--primary);
}

.btn-login {
  background: #ff8923;
  border-color: #ff8923;
  color: white;
  box-shadow: 0 3px 15px#ff8923;
  margin-top: 8px;
}

.btn-login:hover,
.btn-login:active {
  box-shadow: 0 6px 15px #ff8923;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

main img {
  animation: showImg 2s linear forwards;
  width: 70%;
  margin: auto;
}

.main-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  animation: Jump 1s linear forwards;
}

@keyframes Jump {
  0% {
    transform: translateY(-10px);
  }
  20% {
    transform: translateY(10px);
  }
  40% {
    transform: translateY(-6px);
  }
  60% {
    transform: translateY(6px);
  }
  80% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(2px);
  }
}

@keyframes showImg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Our Services Section */

.our-services {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  gap: 25px;
  margin-bottom: 30px;
}

.our-services h4 {
  color: var(--primary);
  font-weight: 800;
}

.our-services h3 {
  display: inline-block;
  padding: 10px;
  font-weight: 300;
  color: #5a5454;
}

.services-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 80%;
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 60%;
  margin: auto;
  padding: 30px 0;
  color: white;
  text-align: center;
  border-radius: 10px;
}

.service-card p {
  color: white;
  width: 90%;
  margin: auto;
}
.one {
  background-color: #fbba77;
}
.two {
  background-color: #41eae3;
}
.three {
  background-color: #69529f;
}
.four {
  background-color: #4386d2;
}
.five {
  background-color: #a5a2f6;
}
.six {
  background-color: #ff8088;
}

.btn-readmore {
  background-color: inherit;
  color: white;
  border-color: white;
  font-weight: 400;
}

.one button {
  background-color: white;
  color: black;
}
.btn-loadmore {
  background-color: white;
  color: black;
  border-color: var(--primary);
  box-shadow: 2px 2px 20px var(--primary);
}

.btn-loadmore:hover,
.btn-loadmore:active {
  box-shadow: 2px 2px 30px var(--primary);
}

.two,
.three,
.four,
.five,
.six {
  display: none;
}

/* Know about UiExpert Section */

.knowaboutui {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 80%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
}

.knowaboutui img {
  width: 3.5em;
  height: 3.5em;
}

.videobrief {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.videobrief p {
  color: black;
}

/* Our Portfoilio Section */

.ourportfolio {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.portfolio-text {
  text-align: center;
}

.portfolio-text p {
  display: none;
}
.portfolio-links {
  display: none;
}

/* Select all but first child */
.second,
.third,
.fourth,
.fifth,
.sixth {
  display: none;
}

/* Our Success Section */
.oursuccess {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.successes {
  display: grid;
  grid-row: 1fr 1fr 1fr;
}

.success {
  text-align: center;
  padding-top: 20px;
}

.success h3 {
  color: #4b647e;
  padding-top: 8px;
}

/* About Us Section */
.aboutus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 30px 0;
  background-color: #0c0f32;
}

.aboutus-text {
  text-align: center;
  color: white;
  padding-top: 20px;
}

.tohire {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#about_chris {
  display: none;
}

#Chris {
  color: #8f8bff;
  padding-bottom: 5px;
}

.hireme {
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

.hireme h2 {
  padding-bottom: 8px;
}

.hireme-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.btn-findmore {
  color: white;
  border: 1px solid white;
}

.btn-findmore:active {
  background-color: var(--primary);
  box-shadow: 0 0 15px var(--primary);
}

/* Learn Design Sketch Testing section */

.learn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  gap: 30px;
}
.learncards {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
  align-items: center;
  padding: 55px 10px;
  color: white;
  position: relative;
  width: 50%;
}

.design {
  background-size: 200%;
  background-image: url(/assets/imgs/design.png);
  background-repeat: no-repeat;
  background-position: center;
}
.design img,
.design h3,
.design p {
  z-index: 1;
  color: white;
}
.design:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(9, 27, 124, 0.8);
  border-radius: 20px;
}

.sketch {
  background-size: 200%;
  background-image: url(/assets/imgs/sketch.png);
  background-repeat: no-repeat;
  background-position: center;
}
.sketch img,
.sketch h3,
.sketch p {
  z-index: 1;
  color: white;
}
.sketch:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(243, 111, 33, 0.8);
  border-radius: 20px;
}
.testing {
  background-size: 200%;
  background-image: url(/assets/imgs/testing.png);
  background-repeat: no-repeat;
  background-position: center;
}
.testing img,
.testing h3,
.testing p {
  z-index: 1;
  color: white;
}
.testing:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(165, 162, 246, 0.8);
  border-radius: 20px;
}
.sketch,
.testing {
  display: none;
}

/* Our Workflow Section */
.svgman {
  display: none;
}

.ourworkflow {
  margin: 40px 0;
}

.workflow {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.workflow-text {
  text-align: center;
}

.workflows {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  width: 100%;
}

.flows {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 80%;
  margin: auto;
}
.flows h4 {
  font-weight: 400;
  color: #747474;
}
.flows p {
  font-size: 0.85em;
}

.flow {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: flex-start;
}

.number {
  text-align: center;
  padding-top: 1.4em;
  font-weight: 700;
  color: white;
  border-radius: 50px;
  width: 4em;
  height: 4em;
}

.oOne {
  background-color: #3d37f1;
}
.oTwo {
  background-color: #9997df;
}
.oThree {
  background-color: #ffba3f;
}
.oFour {
  background-color: #e66e6e;
}
.oFive {
  background-color: #66659f;
}
.oSix {
  background-color: #f17637;
}
.oSeven {
  background-color: #37f1be;
}
.oEight {
  background-color: #f137e5;
}
.oNine {
  background-color: #f13d37;
}

/* Our Blog Section */
.ourblog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 90%;
  margin: auto;
}
.ourblog-text {
  text-align: center;
}

.blogcards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  gap: 40px;
}

.blogcard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
.blogimg {
  width: 100%;
}

/* Companies Sectio */
.companies {
  margin-top: 60px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  padding-left: 25px;
  justify-items: center;
}

.companie img {
  width: 120px;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px;
  width: 95%;
  margin: auto;
  padding: 20px 0;
}

.footer p {
  display: none;
}

.footerOne {
  display: flex;
  flex-direction: column;
  gap: 30px;
  grid-column: span 4;
}
.logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footeraboutus,
.footercommunity,
.footercontact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
.footer a {
  color: var(--primary);
}

/* Small screens */
@media screen and (max-width: 500px) {
  body {
    width: 95%;
    margin: auto;
  }

  .aboutus {
    width: 95%;
    margin: 40px auto;
  }

  .number {
    width: 3em;
    height: 3em;
    padding-top: 1em;
  }
}

/* Media Querry for Tablet / Desktop */
@media screen and (min-width: 800px) {
  /* First Section */
  .nav-bar {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .nav-bar a {
    color: white;
  }
  .nav-bar a:hover {
    border-bottom: 1px solid white;
  }

  .container {
    background-image: url(/assets/backgroundpurple.svg);
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: right -20px;
  }

  .navbar-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding-top: 5px;
    padding-right: 20px;
  }
  header {
    margin: 0 25px 150px 25px;
    justify-content: space-between;
  }
  main {
    flex-direction: row;
  }

  .main-text {
    padding-left: 35px;
  }

  main img {
    width: 400px;
  }

  /* Our Service Section */
  .services-text {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .services-text p {
    max-width: 85%;
    margin: auto;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
  }

  .service-card {
    width: 80%;
    margin: auto;
  }

  .two,
  .three,
  .four,
  .five,
  .six {
    display: flex;
  }

  .btn-loadmore {
    display: none;
  }

  .btn-readmore {
    border: 1px solid white;
  }
  /* Our Portfolios */
  .loadmore {
    display: inline;
  }
  /* Our Success Section */

  .sketch,
  .testing {
    display: flex;
  }
  .successes {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }

  /* Learn Section*/
  .learn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
  }

  .learncards {
    width: 100%;
  }

  /* Our Workflow Section */
  .workflows {
    grid-template-columns: 1fr 1fr;
  }

  /* Our Blog Section */
  .blogcards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }

  /* Companies Section */
  .companies {
    grid-template-columns: repeat(5, 1fr);
  }

  /* Footer Section */

  .footer {
    grid-template-columns: repeat(4, 1fr);
  }
  .footerOne {
    display: flex;
    flex-direction: column;
    gap: 30px;
    grid-column: 1;
  }

  .footerOne p {
    display: inline;
  }
}

/* laptop/Desktop */
@media screen and (min-width: 1150px) {
  body {
    max-width: 85%;
    margin: auto;
  }

  /* First Section */
  .container {
    background-size: 700px;
  }

  header {
    margin: 0 30px 70px 30px;
    padding-bottom: 70px;
  }
  main {
    justify-content: space-around;
  }
  .main-text {
    margin-left: 60px;
  }
  .main-text button {
    width: 50%;
  }

  .nav-bar {
    gap: 15px;
  }

  .btn-waveme {
    position: relative;
    padding: 15px 30px 15px 30px;
    border-radius: 30px;
    text-align: end;
  }
  .btn-waveme::before {
    content: "";
    width: 30%;
    height: 100%;
    background-image: url(/assets/icons/waving-hand.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 15px;
    top: 9px;
  }

  main img {
    width: 500px;
  }

  /* Our Services Section */
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 90%;
    margin: auto;
  }

  /* Know About Ui Section */
  .knowaboutui {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 80vh;
    justify-content: flex-end;
  }

  .knowaboutui::before {
    content: "";
    background-image: url(/assets/bigsvgs/undraw_about_me_wa29.svg);
    background-repeat: no-repeat;
    background-position: top;
    width: 70%;
    height: 70%;
  }
  .videobrief {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 0;
  }

  /* Our Portfolio Section */
  .loadmore {
    display: none;
  }

  .portfolio-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .portfolio-text p {
    display: inline;
  }

  .portfolio-links {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .portfolio-links a {
    color: #969ca2;
  }

  .portfolio-links a:hover,
  .portfolio-links a:active {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
  }

  .ourportfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .portfolios {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .portfolios img {
    width: 13em;
  }
  .portfolio-text-small {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .second,
  .third,
  .fourth,
  .fifth,
  .sixth {
    display: block;
  }

  /* Our Success Section */
  .successes {
    width: 90%;
    margin: auto;
  }

  /* About Us Section */
  .aboutus {
    background-image: url(/assets/People/desktop_version_background.svg);
    background-size: fill;
    background-repeat: no-repeat;
    background-position: top;
    height: 90vh;
  }

  .tohire {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  #about_chris {
    display: inline-block;
    padding: 10px 0;
  }

  .hireme {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #707070;
  }

  .hireme-buttons {
    display: grid;
    grid-template-columns: 1fr;
  }

  .hireme-buttons button {
    max-width: 150px;
    min-width: 150px;
  }

  .btn-findmore {
    display: none;
  }
  /* Learn Section */
  .learn {
    max-width: 80%;
    margin: auto;
  }

  /* Our Workflow Section */
  .svgman {
    display: block;
    width: 300px;
    animation: movingMan 3s linear infinite;
    z-index: -1;
  }

  @keyframes movingMan {
    0% {
      transform: translateX(10px);
    }
    50% {
      transform: translateX(-20px);
    }
    100% {
      transform: translateX(10px);
    }
  }

  .ourworkflow {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .number {
    min-width: 60px;
    min-height: 60px;
  }

  .workflows {
    justify-items: start;
  }
}

/* Huge Screens */
@media screen and (min-width: 2000px) {
  body {
    max-width: 60%;
    margin: auto;
  }
}
