/* Variables */
:root {
  --primary: #3d37f1;
}

/* Mobile First */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  font-size: 15px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

header a {
  color: var(--primary);
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  color: #707070;
}

p {
  color: #747474;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#web {
  color: var(--primary);
}

#ui {
  font-weight: 100;
  color: #4b647e;
}
.nav-bar {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.btn {
  background: none;
  border-radius: 20px;
  padding: 10px 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.btn-waveme {
  background-color: var(--primary);
  color: white;
  box-shadow: 0 3px 15px var(--primary);
  border-color: var(--primary);
}

.btn-waveme:hover,
.btn-waveme:active {
  box-shadow: 0 6px 15px var(--primary);
}

.btn-login {
  background: #ff8923;
  border-color: #ff8923;
  color: white;
  box-shadow: 0 3px 15px#ff8923;
  margin-top: 8px;
}

.btn-login:hover,
.btn-login:active {
  box-shadow: 0 6px 15px #ff8923;
}

/* Our Services Section */

.our-services {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  gap: 25px;
  margin-bottom: 30px;
}

.our-services h4 {
  color: var(--primary);
  font-weight: 800;
}

.our-services h3 {
  display: inline-block;
  padding: 10px;
  font-weight: 300;
  color: #5a5454;
}

.services-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 80%;
  margin: auto;
  padding: 30px 0;
  color: white;
  text-align: center;
}

.service-card p {
  color: white;
}
.one {
  background-color: #fbba77;
}

.btn-readmore {
  background-color: inherit;
  color: white;
  border-color: white;
  font-weight: 400;
}

.one button {
  background-color: white;
  color: black;
}
.btn-loadmore {
  background-color: white;
  color: black;
  border-color: var(--primary);
  box-shadow: 2px 2px 20px var(--primary);
}

.btn-loadmore:hover,
.btn-loadmore:active {
  box-shadow: 2px 2px 30px var(--primary);
}

.two,
.three,
.four,
.five,
.six {
  display: none;
}

/* Know about UiExpert Section */

.knowaboutui {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 80%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
}

.knowaboutui img {
  width: 3.5em;
  height: 3.5em;
}

.videobrief {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.videobrief p {
  color: black;
}

/* Our Portfoilio Section */

.ourportfolio {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.portfolio-text {
  text-align: center;
}

.portfolio-text p {
  display: none;
}
.portfolio-links {
  display: none;
}

/* Select all but first child */
.portfolios > div:not(:first-child) {
  display: none;
}

/* Our Success Section */
.oursuccess {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.successes {
  display: grid;
  grid-row: 1fr 1fr 1fr;
}

.success {
  text-align: center;
  padding-top: 20px;
}

.success h3 {
  color: #4b647e;
}

/* About Us Section */
.aboutus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 30px 0;
  background-color: #0c0f32;
}

.aboutus-text {
  text-align: center;
  color: white;
  padding-top: 20px;
}

.tohire {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#about_chris {
  display: none;
}

#Chris {
  color: #8f8bff;
  padding-bottom: 5px;
}

.hireme {
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

.hireme h2 {
  padding-bottom: 8px;
}

.hireme-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.btn-findmore {
  color: white;
}

.btn-findmore:active {
  background-color: var(--primary);
  box-shadow: 0 0 15px var(--primary);
}

/* Learn Design Sketch Testing section */

.learn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  gap: 30px;
}
.learncards {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
  align-items: center;
  padding: 55px 10px;
  color: white;
  position: relative;
  width: 70%;
}

.design {
  background-size: fill;
  background-image: url(/assets/imgs/design.png);
  background-repeat: no-repeat;
  background-position: center;
}
.design img,
.design h3,
.design p {
  z-index: 1;
  color: white;
}
.design:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(9, 27, 124, 0.8);
  border-radius: 20px;
}

.sketch {
  background-size: fill;
  background-image: url(/assets/imgs/sketch.png);
  background-repeat: no-repeat;
  background-position: center;
}
.sketch img,
.sketch h3,
.sketch p {
  z-index: 1;
  color: white;
}
.sketch:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(243, 111, 33, 0.8);
  border-radius: 20px;
}
.testing {
  background-size: fill;
  background-image: url(/assets/imgs/testing.png);
  background-repeat: no-repeat;
  background-position: center;
}
.testing img,
.testing h3,
.testing p {
  z-index: 1;
  color: white;
}
.testing:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(165, 162, 246, 0.8);
  border-radius: 20px;
}
.sketch,
.testing {
  display: none;
}

/* Our Workflow Section */
.svgman {
  display: none;
}

.ourworkflow {
  margin: 40px 0;
}

.workflow {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.workflow-text {
  text-align: center;
}

.workflows {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  width: 100%;
}

.flows {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 80%;
  margin: auto;
}
.flows h4 {
  font-weight: 400;
  color: #747474;
}
.flows p {
  font-size: 0.85em;
}

.flow {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: flex-start;
}

.number {
  text-align: center;
  padding-top: 1.4em;
  font-weight: 700;
  color: white;
  border-radius: 50px;
  width: 4em;
  height: 4em;
}

.oOne {
  background-color: #3d37f1;
}
.oTwo {
  background-color: #9997df;
}
.oThree {
  background-color: #ffba3f;
}
.oFour {
  background-color: #e66e6e;
}
.oFive {
  background-color: #66659f;
}
.oSix {
  background-color: #f17637;
}
.oSeven {
  background-color: #37f1be;
}
.oEight {
  background-color: #f137e5;
}
.oNine {
  background-color: #f13d37;
}

/* Our Blog Section */
.ourblog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.ourblog-text {
  text-align: center;
}

.blogcards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  gap: 40px;
}

.blogcard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
.blogimg {
  width: 100%;
}

/* Companies Sectio */
.companies {
  margin-top: 60px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  padding-left: 25px;
  justify-items: center;
}

.companie img {
  width: 120px;
}

/* Footer */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px;
  width: 95%;
  margin: auto;
  padding: 20px 0;
}

.footer p {
  display: none;
}

.footerOne {
  display: flex;
  flex-direction: column;
  gap: 30px;
  grid-column: span 4;
}
.logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footeraboutus,
.footercommunity,
.footercontact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
.footer a {
  color: var(--primary);
}
/* Media Querry for Tablet */
@media screen and (min-width: 641px) {
}

/* Media Querry for Desktop */
@media screen and (min-width: 1025px) {
}
