/* Variables */
:root {
  --primary: #3d37f1;
}

/* Mobile First */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  font-size: 15px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

header a {
  color: var(--primary);
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  color: #707070;
}

p {
  color: #747474;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#web {
  color: var(--primary);
}

#ui {
  font-weight: 100;
  color: #4b647e;
}

.nav-bar {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.btn {
  background: none;
  border-radius: 20px;
  padding: 10px 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.btn-waveme {
  background-color: var(--primary);
  color: white;
  box-shadow: 0 3px 15px var(--primary);
  border-color: var(--primary);
}

.btn-waveme:hover,
.btn-waveme:active {
  box-shadow: 0 6px 15px var(--primary);
}

.btn-login {
  background: #ff8923;
  border-color: #ff8923;
  color: white;
  box-shadow: 0 3px 15px#ff8923;
  margin-top: 8px;
}

.btn-login:hover,
.btn-login:active {
  box-shadow: 0 6px 15px #ff8923;
}

/* Our Services Section */

.our-services {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  gap: 25px;
}

.our-services h4 {
  color: var(--primary);
  font-weight: 800;
}

.our-services h3 {
  display: inline-block;
  padding: 10px;
  font-weight: 300;
  color: #5a5454;
}

.services-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 80%;
  margin: auto;
  padding: 30px 0;
  color: white;
  text-align: center;
}

.service-card p {
  color: white;
}
.one {
  background-color: #fbba77;
}

.btn-readmore {
  background-color: inherit;
  color: white;
  border-color: white;
  font-weight: 400;
}

.one button {
  background-color: white;
  color: black;
}
.btn-loadmore {
  background-color: white;
  color: black;
  border-color: var(--primary);
  box-shadow: 2px 2px 20px var(--primary);
}

.btn-loadmore:hover,
.btn-loadmore:active {
  box-shadow: 2px 2px 30px var(--primary);
}

.two,
.three,
.four,
.five,
.six {
  display: none;
}

/* Media Querry for Tablet */
@media screen and (min-width: 641px) {
}

/* Media Querry for Desktop */
@media screen and (min-width: 1025px) {
}
